<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27783828872-9sfs17boc1ocgs2lek6ldo9eufi8q69u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27783828872-9sfs17boc1ocgs2lek6ldo9eufi8q69u</string>
	<key>API_KEY</key>
	<string>AIzaSyDanEe75jrCSCkmnnxyFFfsE_j_QUkxCLc</string>
	<key>GCM_SENDER_ID</key>
	<string>27783828872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trunghieudang.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-b7502</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-b7502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27783828872:ios:f9f165e21fe3c62f47d63d</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-b7502.firebaseio.com</string>
</dict>
</plist>